:root {
  --b1: 44 47% 86%;
  --b2: 45 47% 80%;
  --b3: 44 47% 73%;
  --bn: 340 7% 17%;
  --bnc: 43 41% 88%;
  --bc: 345 5% 15%;
  --p: var(--bn);
  --pc: var(--bnc);
  --s: 145 27% 72%;
  --sc: var(--bc);
  --a: 24 67% 59%;
  --ac: var(--bc);
  --e: 3.33 87% 62%;
  --ec: var(--bc);
}

:root {
  --background: hsl(var(--b1));
  --foreground: hsl(var(--bc));

  --card: hsl(var(--b2));
  --card-foreground: hsl(var(--bc));

  --popover: hsl(var(--b3));
  --popover-foreground: hsl(var(--bc));

  --primary: hsl(var(--p));
  --primary-foreground: hsl(var(--pc));

  --secondary: hsl(var(--s));
  --secondary-foreground: hsl(var(--sc));

  --muted: hsl(var(--b3));
  --muted-foreground: hsl(var(--bc));

  --accent: hsl(var(--a));
  --accent-foreground: hsl(var(--ac));

  --destructive: hsl(var(--e));
  --destructive-foreground: hsl(var(--ec));

  --border: hsl(var(--b3));
  --input: hsl(var(--b3));
  --ring: hsl(var(--b3));

  --radius: 0.5rem;

  --rounded-sm: calc(var(--radius) - 4px);
  --rounded-md: calc(var(--radius) - 2px);
  --rounded-lg: var(--radius);
  --rounded-xl: calc(var(--radius) + 4px);
  --rounded-full: 9999px;

  --text-xs: 0.75rem;
  --leading-xs: 1rem;
  --text-sm: 0.875rem;
  --leading-sm: 1.25rem;
  --text-base: 1rem;
  --leading-base: 1.5rem;
  --text-xl: 1.25rem;
  --leading-xl: 1.75rem;
  --text-2xl: 1.5rem;
  --leading-2xl: 2rem;
  --text-4xl: 2.25rem;
  --leading-4xl: 2.5rem;

  --1: 0.25rem;
  --2: 0.5rem;
  --3: 0.75rem;
  --4: 1rem;
  --5: 1.25rem;
  --6: 1.5rem;
  --7: 1.5rem;
  --8: 2rem;
  --9: 2.25rem;
  --10: 2.5rem;
  --11: 2.75rem;
  --12: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
